* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background: #020617;
  color: #e5e7eb;
}

header {
  text-align: center;
  padding: 25px;
}

main {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.card {
  background: #1f2937;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

#statusIndicator {
  text-align: center;
  padding: 20px;
  font-size: 22px;
  border-radius: 10px;
  font-weight: bold;
}

.online {
  background: #14532d;
  color: #22c55e;
}

.offline {
  background: #7f1d1d;
  color: #f87171;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  background: #020617;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  font-size: 14px;
}

footer {
  text-align: center;
  padding: 15px;
  opacity: 0.6;
}