:root {
  --cell-size: 40px;
  --terminal-green: #00ff41;
  --danger: #ff3300;
}
body {
  background: #050505;
  color: var(--terminal-green);
  font-family: "Courier New", monospace;
  margin: 0;
  overflow: hidden;
}
#terminal-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#status-bar {
  width: 800px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid var(--terminal-green);
  margin-bottom: 5px;
  box-shadow: inset 0 0 10px #00ff4133;
}
canvas {
  background: #000;
  border: 2px solid #222;
  image-rendering: pixelated;
  box-shadow: 0 0 40px rgba(0, 0, 0, 1);
}
#inventory-dock {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.slot {
  width: 60px;
  height: 60px;
  border: 1px dashed var(--terminal-green);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
.hidden {
  display: none !important;
}
