body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin: 10px;
}

#gameCanvas {
  background: radial-gradient(circle, #020024, #090979, #000);
  display: block;
  margin: auto;
  border: 2px solid #00ffff;
}

#info {
  margin-top: 10px;
  font-size: 18px;
}
