* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #0f172a;
    color: #e5e7eb;
    min-height: 100vh;
}

/* HEADER */
.main-header {
    background: #020617;
    padding: 25px;
    text-align: center;
    border-bottom: 2px solid #38bdf8;
}

.main-header h1 {
    font-size: 2.6rem;
    color: #38bdf8;
}

.main-header p {
    opacity: 0.8;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-around;
    background: #020617;
    padding: 10px;
}

.navbar button {
    background: none;
    border: none;
    color: #e5e7eb;
    font-size: 1rem;
    cursor: pointer;
}

.navbar button:hover {
    color: #38bdf8;
}

/* MAIN */
main {
    padding: 20px;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

/* DASHBOARD */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.card {
    background: #020617;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border-left: 4px solid #38bdf8;
}

.card span {
    display: block;
    font-size: 2rem;
    margin-top: 10px;
}

/* TASKS */
.task-input {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.task-input input,
.task-input select {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.task-input button {
    padding: 10px 15px;
    background: #38bdf8;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

#taskList li {
    background: #020617;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 5px;
}

/* MOOD */
#mood textarea {
    width: 100%;
    height: 80px;
    margin: 10px 0;
    padding: 10px;
}

#moodList li {
    background: #020617;
    padding: 10px;
    margin-bottom: 8px;
}

/* FOCUS */
#timerDisplay {
    font-size: 3.5rem;
    text-align: center;
    margin: 20px 0;
}

.timer-controls {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.timer-controls button {
    padding: 12px 20px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
}

/* ANALYTICS */
.analytics-box {
    background: #020617;
    padding: 20px;
    margin-bottom: 10px;
    border-left: 4px solid #38bdf8;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    opacity: 0.6;
}