/* 
 * RhythmLock - Typography
 * -----------------------
 */

.data-font {
    font-family: var(--font-mono);
}

h1,
h2,
h3 {
    font-family: var(--font-ui);
    font-weight: 600;
}

.small-caps {
    font-variant: small-caps;
    letter-spacing: 0.05em;
}

.numerical-data {
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}