* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Share Tech Mono', monospace;
    background: #050510;
    color: #00ffff;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.app {
    padding: 30px;
    text-align: center;
}

textarea {
    width: 90%;
    height: 120px;
    margin-top: 20px;
    background: black;
    color: #00ffcc;
    border: 2px solid #00ffff;
    padding: 10px;
    font-size: 16px;
}

select, button {
    padding: 10px 20px;
    margin: 10px;
    background: black;
    color: #00ffff;
    border: 2px solid #ff00ff;
    cursor: pointer;
}