body.light {
    background: #f5f5f5;
    color: #111;
}

body.light textarea {
    background: white;
    color: black;
}

body.light select,
body.light button {
    background: white;
    color: black;
    border: 2px solid #333;
}