body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  place-items: center;
  --filter: url(#distort);
  --spread: 1;
  --opacity: 1;
  --angle: 0;
  --shift: hidden;
  --pointer: all;
  --pixelspread: 1;
  --totalspread: calc(var(--spread) * var(--pixelspread));
  --img: url(https://assets.codepen.io/383755/fieri7.jpg) 50% 0px / auto 50vw;
  font-family: "Futura";
  --paused: paused;
  --color: #000;
  --animation: shift calc(1s + (1s * var(--totalspread))) linear infinite
    var(--paused);
  --bg: repeating-linear-gradient(
    var(--color) calc(5px * var(--totalspread)),
    transparent calc(5px * var(--totalspread)),
    transparent calc(10px * var(--totalspread)),
    var(--color) calc(10px * var(--totalspread)),
    var(--color) calc(15px * var(--totalspread))
  );

  * {
    box-sizing: border-box;
  }
  &.class-9 {
    --color: #ff474b;
    --mix-blend: difference;
    --shift: visible;
  }
  &.class-8 {
    --pixelspread: 3;
    --filter: url(#distort) url(#pixelate);
  }
  &.class-7 {
    --shift: hidden;
    --mix-blend: none;
    --animation: bgshift 5s linear infinite var(--paused);
    --bg: var(--img);
    --opacity: 0.25;
    --pointer: none;
  }
  &.class-6 {
    --paused: running;
    &:not(.class-7) .shift {
      opacity: 1;
      pointer-events: all;
    }
  }
  .shift {
    opacity: 0.25;
    pointer-events: none;
  }
  #wrap {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: clamp(150px, 25%, 25%) clamp(300px, 75%, 75%);
  }
  #inputWrap {
    position: relative;
    z-index: 10;
    background: #efefef;
    display: grid;
    place-items: center;
    box-shadow: 20px 0 20px -25px rgba(0, 0, 0, 0.5);
    .spread {
      transition: 0.3s ease-in-out;
      opacity: var(--opacity);
      pointer-events: var(--pointer);
    }
    > div {
      display: block;
      width: calc(100% - 4rem);
      .half {
        display: inline-block;
        width: 45%;
        text-align: center;
        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }
  input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: -8px;
    background: #333;
  }
  input[type="range"]:focus::-webkit-slider-thumb:hover {
    background: #000;
  }

  input[type="range"]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #555;
    border-radius: 1.3px;
  }

  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #000;
  }

  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #ccc;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  label {
    font-size: 0.75rem;
    font-weight: 900;
    display: block;
    width: 100%;
    &.file-upload {
      position: relative;
      font-size: 0.75rem;
      cursor: pointer;
      margin-bottom: 2rem;
      text-align: center;
      box-shadow: 0 0 0 1px #000;
      padding: 0.75rem 0.5rem;
      box-sizing: border-box;
      &:hover {
        background: #000;
        color: #fff;
      }
      input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 10;
      }
    }
  }
  input {
    width: 100%;
    position: relative;
    margin: 1rem 0 1.5rem;
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    filter: saturate(0) contrast(2);
  }

  svg {
    position: absolute;
    pointer-events: none;
  }
  main {
    display: grid;
    place-items: center;
  }
  #svgwrap {
    width: clamp(25vmin, 75vmin, 50vw);
    height: clamp(25vmin, 75vmin, 50vw);
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 0 5px #000, 0 20px 20px -15px rgba(0, 0, 0, 0.75);
    &:before,
    &:after {
      mix-blend-mode: var(--mix-blend);
      filter: var(--filter);
      content: "";
      position: absolute;
      width: 200%;
      height: 200%;
      left: -50%;
      top: -50%;
      background: var(--bg);
      animation: var(--animation);
      transform: rotate(calc(var(--angle) * 1deg));
      @keyframes shift {
        from {
          background-position: 50% 0px;
        }
        to {
          background-position: 50% calc(60px * var(--totalspread));
        }
      }
      @keyframes bgshift {
        to {
          background-position: 50% 200%;
        }
      }
    }
    &:after {
      visibility: var(--shift);
      --color: #00b8b4;
      --bg: repeating-linear-gradient(
        var(--color) calc(5px * var(--totalspread)),
        transparent calc(5px * var(--totalspread)),
        transparent calc(10px * var(--totalspread)),
        var(--color) calc(10px * var(--totalspread)),
        var(--color) calc(15px * var(--totalspread))
      );
      --animation: shift calc(0.75s + (1s * var(--totalspread))) linear infinite
        var(--paused);
    }
  }
}
