/* Canvas CSS */

#drawing-canvas {
    width: 100%;
    height: 100%;
    display: block;
    image-rendering: pixelated;
    /* Sharp pixels for spectrogram accuracy */
}

.scan-line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--accent-primary);
    box-shadow: 0 0 10px var(--accent-primary);
    left: 0;
    pointer-events: none;
    display: none;
    /* Hidden by default */
    z-index: 10;
}

.scan-line.active {
    display: block;
}

.grid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 50px 50px;
    /* Represents frequency/time bins */
    pointer-events: none;
}