* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: radial-gradient(circle at top, #11152c, #070814);
  min-height: 100vh;
  padding: 40px;
  color: white;
}

/* Title Gradient */
.mainTitle {
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  background: linear-gradient(to right, #ff4fd8, #3fa9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 50px;
}

/* Layout */
.mainContainer {
  display: flex;
  justify-content: center;
  gap: 35px;
}

/* Card Glass Effect */
.card {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 18px;
  padding: 25px;
  width: 700px;
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.5);
}

/* Upload Box */
.uploadBox {
  border: 2px dashed rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  padding: 35px;
  text-align: center;
  margin-bottom: 30px;
}

.uploadIcon {
  font-size: 45px;
  margin-bottom: 10px;
  opacity: 0.7;
}

.uploadBox h2 {
  font-size: 22px;
  margin-bottom: 8px;
}

.uploadBox p {
  font-size: 15px;
  opacity: 0.7;
}

/* Upload Button */
.uploadBtn {
  display: inline-block;
  margin-top: 18px;
  background: #2563eb;
  padding: 12px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.uploadBtn:hover {
  background: #1e40af;
}

/* Section Title */
.sectionTitle {
  font-size: 26px;
  margin-bottom: 15px;
  font-weight: 700;
}

/* Canvas */
canvas {
  width: 100%;
  height: 280px;
  border-radius: 14px;
  background: black;
  cursor: crosshair;
}

/* Right Panel */
.rightTitle {
  font-size: 28px;
  font-weight: 700;
}

.rightSub {
  opacity: 0.7;
  margin: 10px 0 20px;
}

/* Color Preview */
.colorPreview {
  height: 160px;
  width: 100%;
  border-radius: 14px;
  background: orange;
  margin-bottom: 20px;
  border: 2px solid rgba(255, 255, 255, 0.15);
}

/* Color Rows */
.colorDetails {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.row span {
  font-weight: 500;
  opacity: 0.8;
}

/* Copy Button */
.copyBtn {
  margin-top: 25px;
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.12);
  color: white;
  transition: 0.3s;
}

.copyBtn:hover {
  background: rgba(255, 255, 255, 0.22);
}

@media (max-width: 900px) {
  .mainContainer {
    flex-direction: column;
  }
  .card{
    max-width:500px;
  }

}
