@media(max-width: 900px) {

  #game-container {
    flex-direction: column;
  }

  .world-container,
  .dashboard {
    width: 100%;
  }

  .pet-grid {
    grid-template-columns: repeat(4, 70px);
  }
}
