@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: 'VT323', monospace;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
}

h1,
.osd-frequency,
.osd-status {
    font-family: 'VT323', monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
}

label,
span {
    font-family: 'VT323', monospace;
    font-size: 1.1rem;
    color: var(--color-text-dim);
}

.branding h1 {
    font-size: 2.5rem;
    line-height: 1;
}

.model-info {
    font-family: 'VT323', monospace;
}