body {
  background: #0f172a;
  color: white;
  text-align: center;
  font-family: Arial;
}

.controls {
  margin: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #3b82f6;
  color: white;
}

button:hover {
  background: #2563eb;
}

.grid {
  display: grid;
  grid-template-columns: repeat(15, 35px);
  justify-content: center;
  margin-top: 20px;
}

.cell {
  width: 35px;
  height: 35px;
  border: 1px solid #1e293b;
}

.wall {
  background: #1e293b;
}

.start {
  background: #22c55e;
}

.end {
  background: #ef4444;
}

.visited {
  background: #38bdf8;
}

.path {
  background: yellow;
}
