* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background: #f8fafc;
  color: #0f172a;
  background:linear-gradient(90deg,#EEAECA,#94BBE9);
}

header {
  text-align: center;
  padding: 30px;
}

.container {
  padding: 30px;
}

.controls {
  text-align: center;
  margin-bottom: 20px;
}

select {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
}

.visualizer {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.diagram {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.block {
  background: white;
  padding: 20px;
  min-width: 120px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  font-weight: bold;
  position: relative;
}

.block::after {
  content: "→";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.block:last-child::after {
  content: "";
}

.description {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

@media (max-width: 768px) {
  .diagram {
    flex-direction: column;
  }

  .block::after {
    content: "";
  }
}
