body {
  background:#0f172a;
  font-family: Arial, sans-serif;
  color:white;
}

.container {
  max-width:600px;
  margin:auto;
  padding:20px;
}

h1, h2 {
  text-align:center;
}

.form-box {
  background:#1e293b;
  padding:15px;
  border-radius:10px;
}

input, textarea, button {
  width:100%;
  margin-top:10px;
  padding:10px;
  border-radius:5px;
  border:none;
}

button {
  background:#38bdf8;
  cursor:pointer;
}

.note {
  background:#1e293b;
  padding:12px;
  margin-top:10px;
  border-radius:8px;
}

.locked {
  color:#facc15;
}

.unlocked {
  color:#4ade80;
}