* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #fdf6ec;
    color: #334155;
    min-height: 100vh;
}

/* HEADER */
.top-header {
    background: #99f6e4;
    padding: 30px;
    text-align: center;
    border-bottom: 3px solid #fb7185;
}

.top-header h1 {
    font-size: 2.8rem;
    color: #0f766e;
}

.top-header p {
    margin-top: 5px;
}

/* NAV */
.nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    background: #fdf6ec;
    padding: 15px;
}

.nav button {
    padding: 10px 20px;
    border: none;
    background: #fb7185;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

.nav button:hover {
    background: #f43f5e;
}

/* MAIN */
main {
    padding: 20px;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

/* REPORT */
#report {
    max-width: 600px;
    margin: auto;
}

#report input,
#report textarea,
#report select {
    width: 100%;
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #cbd5f5;
}

/* BUG LIST */
#bugList li {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    border-left: 6px solid #99f6e4;
}

/* STATS */
#stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
}

.stat-box {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    border-bottom: 4px solid #fb7185;
}

.stat-box strong {
    display: block;
    font-size: 2rem;
    margin-top: 5px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    opacity: 0.7;
}