* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body {
    background: #f3f4f6;
    color: #1f2937;
    min-height: 100vh;
}

/* HEADER */
.header {
    background: #e5e7eb;
    padding: 30px;
    text-align: center;
    border-bottom: 4px solid #f59e0b;
}

.header h1 {
    font-size: 2.8rem;
    color: #92400e;
}

/* REPO */
.repo-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.repo-section input {
    padding: 10px;
    width: 220px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
}

.repo-section button {
    padding: 10px 18px;
    background: #f59e0b;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

/* SUMMARY */
.summary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.box {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border-bottom: 4px solid #f59e0b;
}

.box strong {
    display: block;
    font-size: 2rem;
}

/* FILTERS */
.filters {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}

.filters select {
    padding: 8px;
    border-radius: 6px;
}

/* ISSUES */
.issues-section {
    padding: 30px;
}

.issues-section ul {
    list-style: none;
}

.issues-section li {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-left: 6px solid #f59e0b;
    border-radius: 10px;
}

/* ANALYTICS */
.analytics {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.insight {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border-bottom: 4px solid #f59e0b;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    opacity: 0.6;
}