body {
  margin: 0;
  background: #000;
  color: white;
  font-family: monospace;
}

.hud {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  background: #111;
}

.game-container {
  display: flex;
  justify-content: center;
}

canvas {
  background: #0b0b0b;
  border: 3px solid #333;
}

.info {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #aaa;
}
