* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", monospace;
}

body {
    background: #020617;
    color: #e5e7eb;
    min-height: 100vh;
}

/* HEADER */
.header {
    text-align: center;
    padding: 30px;
    border-bottom: 2px solid #22c55e;
}

.header h1 {
    font-size: 3rem;
    color: #22c55e;
}

/* CONTROL BAR */
.control-bar {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background: #020617;
    border-bottom: 1px solid #22c55e;
}

/* MODE SWITCH */
.mode-switch {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}

.mode-switch button {
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    color: #020617;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

/* INPUT */
.input-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px;
}

.input-section input {
    padding: 10px;
    width: 120px;
    background: #000;
    color: #22c55e;
    border: 1px solid #22c55e;
}

.input-section button {
    padding: 10px;
    background: #22c55e;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/* VISUALIZER */
.visualizer {
    max-width: 600px;
    margin: 30px auto;
    background: #020617;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px #22c55e55;
}

#structure {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 15px;
}

.element {
    width: 120px;
    padding: 10px;
    margin: 5px 0;
    background: #22c55e;
    color: #020617;
    text-align: center;
    border-radius: 8px;
}

/* CHALLENGE */
.challenge-section {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.challenge-section input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

/* LOG */
.log-section {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.log-section ul {
    list-style: none;
}

.log-section li {
    background: #020617;
    padding: 8px;
    margin-bottom: 6px;
    border-left: 4px solid #22c55e;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    opacity: 0.6;
}