* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", monospace;
}

body {
    background: linear-gradient(135deg, #020617, #020617);
    color: #e5e7eb;
    min-height: 100vh;
}

/* HEADER */
.header {
    text-align: center;
    padding: 30px;
    border-bottom: 2px solid #22c55e;
}

.header h1 {
    font-size: 3rem;
    color: #22c55e;
}

/* PLAYER INFO */
.player-info {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background: #020617;
    border-bottom: 1px solid #22c55e;
}

/* GAME */
.game-container {
    max-width: 900px;
    margin: 30px auto;
    background: #020617;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px #22c55e55;
}

.puzzle-box pre {
    background: #020617;
    padding: 15px;
    margin-top: 10px;
    border-left: 4px solid #22c55e;
    border-radius: 10px;
    white-space: pre-wrap;
}

/* INPUT */
.input-box {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.input-box input {
    flex: 1;
    padding: 12px;
    background: #000;
    border: 1px solid #22c55e;
    color: #22c55e;
    border-radius: 8px;
}

.input-box button {
    padding: 12px 20px;
    background: #22c55e;
    border: none;
    color: #000;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

/* PROGRESS */
.progress-section {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.progress-bar {
    height: 20px;
    background: #020617;
    border-radius: 20px;
    overflow: hidden;
}

#progressFill {
    height: 100%;
    width: 0%;
    background: linear-gradient(to right, #22c55e, #4ade80);
}

/* LOG */
.log-section {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.log-section ul {
    list-style: none;
}

.log-section li {
    background: #020617;
    padding: 10px;
    margin-bottom: 8px;
    border-left: 4px solid #22c55e;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    opacity: 0.6;
}