
:root {
    --resources-bg-color: rgba(10, 15, 20, 0.85);
    --resources-color: #aeeff8;
    --resources-active-color: #00e0ff;
}

body{
  margin-bottom:2rem;
  background: rgb(10, 15, 20);
}
.resources-layer {
    bottom: 0;
    display: block;
    position: fixed;
    right: 0;
    z-index: 1000;
}

.resources {
    background: var(--resources-bg-color);
    display: grid;
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
    font-size: .6875rem;
    font-weight: 300;
    grid-auto-flow: column;
    line-height: 1.3;
    padding: .5rem;
    pointer-events: auto;
}

.resources a {
    align-content: center;
    display: grid;
    justify-content: center;
    padding: 0 .5rem;
    place-content: center;
    transition: color .2s ease-in-out;
}

.resources a,
.resources a:visited {
    color: var(--resources-color);
}

.resources a:active,
.resources a:focus-visible {
    color: var(--resources-active-color);
}

.resources a:focus-visible {
    outline: none;
}

.resources a:not(:first-child) {
    border-inline-start: thin solid currentColor;
}

@media (hover:hover) and (pointer:fine) {
    .resources a:active:not(:hover),
    .resources a:hover {
        color: var(--resources-active-color);
    }
}