* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #020617;
    color: #e5e7eb;
    min-height: 100vh;
}

/* HEADER */
.header {
    text-align: center;
    padding: 30px;
    background: #020617;
    border-bottom: 2px solid #22d3ee;
}

.header h1 {
    font-size: 2.7rem;
    color: #22d3ee;
}

.header p {
    opacity: 0.8;
}

/* ADD SECTION */
.add-section {
    width: 90%;
    max-width: 700px;
    margin: 30px auto;
    background: #020617;
    padding: 20px;
    border-radius: 10px;
}

.add-section h2 {
    margin-bottom: 15px;
    color: #22d3ee;
}

.add-section input,
.add-section select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.add-section button {
    width: 100%;
    padding: 12px;
    background: #22d3ee;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/* BOARD */
.board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    padding: 20px;
}

.column {
    background: #020617;
    padding: 15px;
    border-radius: 10px;
}

.column h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #22d3ee;
}

.column ul {
    list-style: none;
}

.column li {
    background: #020617;
    padding: 10px;
    margin-bottom: 8px;
    border-left: 4px solid #22d3ee;
    border-radius: 5px;
}

/* STATS */
.stats {
    width: 90%;
    max-width: 700px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.stat-box {
    background: #020617;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border-bottom: 3px solid #22d3ee;
}

.stat-box strong {
    font-size: 2rem;
    display: block;
    margin-top: 5px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    opacity: 0.6;
}