@keyframes line-clear {
  0% {
    opacity: 1;
    background: #fff;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.clearing-line {
  animation: line-clear 0.3s;
}
@keyframes block-fall {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
