* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body {
    background: radial-gradient(circle at top, #312e81, #020617);
    color: #e5e7eb;
    min-height: 100vh;
}

/* HEADER */
.header {
    text-align: center;
    padding: 30px;
    border-bottom: 2px solid #22d3ee;
}

.header h1 {
    font-size: 3rem;
    color: #22d3ee;
}

/* LOBBY */
.lobby {
    max-width: 400px;
    margin: 40px auto;
    background: #020617;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 30px #22d3ee55;
    text-align: center;
}

.lobby input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 10px;
    border: none;
}

.lobby button {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    background: linear-gradient(to right, #22d3ee, #ec4899);
    border: none;
    color: #020617;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

/* ARENA */
.arena {
    max-width: 700px;
    margin: 30px auto;
    background: #020617;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 40px #22d3ee55;
}

.arena-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

/* SCOREBOARD */
.scoreboard {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.score {
    background: #020617;
    padding: 15px;
    border-radius: 15px;
    border-bottom: 4px solid #22d3ee;
    width: 45%;
    text-align: center;
}

.score strong {
    font-size: 2.2rem;
}

/* QUESTION */
.question-box {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 20px;
}

/* OPTIONS */
.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.option {
    padding: 14px;
    border-radius: 12px;
    border: none;
    background: #22d3ee;
    color: #020617;
    font-weight: bold;
    cursor: pointer;
}

.option:hover {
    background: #ec4899;
}

/* LOG */
.log {
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

.log ul {
    list-style: none;
}

.log li {
    background: #020617;
    padding: 10px;
    margin-bottom: 8px;
    border-left: 4px solid #ec4899;
}

/* UTIL */
.hidden {
    display: none;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    opacity: 0.6;
}