body {
  background: #333;
}
.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
  overflow: hidden;
  box-shadow: 0rem 0rem 4rem inset #00000050;
}

.snowflake {
  position: absolute;
  top: -10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  animation: fall linear infinite;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}

@keyframes fall {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
  }
  50% {
    transform: translateY(50vh) translateX(15px) rotate(180deg);
  }
  100% {
    transform: translateY(100vh) translateX(30px) rotate(360deg);
  }
}
