body {
  background: #0f172a;
  color: white;
  text-align: center;
  font-family: Arial;
  padding: 30px;
}

.controls input, select {
  padding: 6px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 6px 12px;
  margin: 5px;
  border-radius: 6px;
  border: none;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}

.char {
  display: inline-block;
  padding: 12px;
  margin: 3px;
  border-radius: 6px;
  background: #1e293b;
}

.active {
  background: #38bdf8;
}

.best {
  background: #22c55e;
}
